/* PlaceCard.module.css */
  

  .hovered {
    transform: perspective(1000px) rotateY(5deg);
  }

  .wishlistButton {
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .wishlistButton:hover {
    transform: perspective(1000px) rotateY(180deg);
  }